{% extends "default.html" %}

{% block title %}
{{ '按标签查看' + ' | ' + config.site_title }}
{% endblock %}

{% block content %}

<div id="main">
		<article  class="leftPostCol">
			<div class="post-body">
				<h2> 标签： </h2>
			</div>
		</article>
		
		<article id="post" class="leftPostCol">
			<div class="post-body">
				{% for item in tag_infos %}
					<a href=#{{ tag_infos[item]['anchor'] }} style="font-size:{{ tag_infos[item]['font_size'] }}">{{ item }}</a>
				{% endfor %}
			</div>
		</article>
{% for tag in tag_posts %}
    
		<article id="post" class="leftPostCol">

			
			<div class="post-body">
				<a name="{{ tag_infos[tag[0]]['url'].split('#')[-1] }}"></a>
				<h2>{{ tag[0] }}</h2>
					
					{% for item in tag[1] %}
						<p><strong>
							{{ item[1]['create_date'] }} &gt;&gt;
							<a href="{{ item[1]['url'] }}">{{ item[1]['title'] }}</a>
							
						</strong></p>
			        {% endfor %}
			
			</div>

		</article>
{% endfor %}

</div>
{% endblock %}